[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
opencv-python = "*"
pytesseract = "*"
pdf2image = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.13"
